{% extends 'base.html.twig' %}

{% block title %}Notre Agence!{% endblock %}

{% block body %}
    <section class="w3l-services2" id="services">
        <div class="features-with-17_sur py-5">
            <div class="container py-md-3">
                <div class="heading text-center mx-auto">
                    {% for texte in textes %}
                        {% if texte.id == 1%}
                            <h3 class="head text-white">{{ texte.titre }}</h3>
                            <p class="my-3 head ">{{ texte.texte }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row pt-5 mt-3">
                    <div class="col-lg-5 features-with-17-left_sur">
                        {% for texte in textes %}
                            {% if texte.id == 2%}
                                <h4 class="lft-head">{{ texte.titre }}</h4>
                                <p>{{ texte.texte }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-7 my-lg-0 my-5 align-self-center features-with-17-right_sur">
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-laptop s4"></span>
                            </div>
                            <div class="features-with-17-left2">
                                {% for texte in textes %}
                                    {% if texte.id == 6%}
                                        <h6><a href="#url">{{ texte.titre }}</a></h6>
                                        <p>{{ texte.texte }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-database s5"></span>
                            </div>
                            <div class="features-with-17-left2">
                                {% for texte in textes %}
                                    {% if texte.id == 7%}
                                        <h6><a href="#url">{{ texte.titre }}</a></h6>
                                        <p>{{ texte.texte }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-lock s3"></span>
                            </div>
                            <div class="features-with-17-left2">
                                {% for texte in textes %}
                                    {% if texte.id == 8%}
                                        <h6><a href="#url">{{ texte.titre }}</a></h6>
                                        <p>{{ texte.texte }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-codepen s2"></span>
                            </div>
                            <div class="features-with-17-left2">
                                {% for texte in textes %}
                                    {% if texte.id == 9%}
                                        <h6><a href="#url">{{ texte.titre }}</a></h6>
                                        <p>{{ texte.texte }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
