{% extends 'base.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
    <section class="w3l-content-with-photo-4" id="about">
        <div id="content-with-photo4-block" class="py-5">
            <div class="container py-md-3">
                <div class="cwp4-two row">

                    <div class="cwp4-text col-lg-6">
                        <h3>{{ bien.nom }}</h3>
                        <p>{{ bien.description | raw  }}</p>
                        <ul class="cont-4">
                            {% if bien.ref|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Référence {{ bien.ref }}</li>
                            {% endif %}
                            {% if bien.pieces|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ bien.pieces }} Pièces</li>
                            {% endif %}
                            {% if bien.surfaces|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ bien.surface }} M2 </li>
                            {% endif %}
                            {% if bien.etage|default %}
                                {% if bien.etage == 1 %}
                                    <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ bien.etage }} ère Etages</li>
                                {% else %}
                                    <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ bien.etage }} ème Etages</li>
                                {% endif %}
                            {% endif %}
                            {% if bien.etat|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ bien.etat }}</li>
                            {% endif %}
                            {% if bien.chauffage|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Chauffage</li>
                            {% endif %}
                            {% if bien.climatisation|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Climatisation</li>
                            {% endif %}
                            {% if bien.ascenceur|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Ascenceur</li>
                            {% endif %}
                            {% if bien.concierge|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Concierge</li>
                            {% endif %}
                            {% if bien.gardien|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Gardien</li>
                            {% endif %}
                            {% if bien.cideosurveillance|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Vidéosurveillance</li>
                            {% endif %}
                            {% if bien.maisongardien|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Maison De Gardien</li>
                            {% endif %}
                            {% if bien.eclairageexterieur|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Eclairage Extérieur</li>
                            {% endif %}
                            {% if bien.typeBien|default %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ bien.typeBien }}</li>
                            {% endif %}
                            {% if bien.neuf == true %}
                                <li><span class="mr-3 fa fa-long-arrow-right"></span>Neuf</li>
                            {% endif %}
                            {% if bien.type == true %}
                                {% set type = 'A Louer' %}
                            {% else %}
                                {% set type = 'A Vendre' %}
                            {% endif %}
                            <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ type }}</li>
                            <li><span class="mr-3 fa fa-long-arrow-right"></span>{{ bien.ville.nom }}</li>

                        </ul>
                        <a class="btn btn-secondary btn-theme3 mt-3" href="#images"> Plus D'images</a>
                    </div>
                    {% set image = bien.images|first %}


                    {% if image.url is defined %}
                        <div id="custCarousel" class="carousel slide" data-ride="carousel" style="width: 50%;margin: auto;" align="center">
                            <!-- slides -->
                            <div class="carousel-inner">
                                {% set active = true %}
                                {% for image in bien.images %}
                                    {% if image is defined %}
                                        {% if image.url is empty %}
                                        {% else %}
                                            {% if active %}
                                                <div class="carousel-item active">
                                                    <img src="{{ asset("assets/images/"  ~ image.url) }}" width="100%" height="400" alt="Hills">
                                                </div>
                                                {% set active = false %}
                                            {% else %}
                                                <div class="carousel-item">
                                                    <img src="{{ asset("assets/images/"  ~ image.url) }}" width="100%" height="400" alt="Hills">
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Left right -->
                            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    {% else %}
                        <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
                            <img src="{{ asset("assets/images/pexels-photomix-company-101808.jpg") }}" class="img-fluid" alt="" />
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </section>

    <section class="w3l-team-main-6">
        <!-- /team-grids -->
        <div class="team-content" id="images" style="padding: 0px;">
            <div class="container" style="padding-bottom: 20px;">
                <p style="text-align: center;font-size: 390%;margin: auto;padding-top: 4%;">Plus D'images</p>
                <div class="d-grid grid-col-4 text-center mt-5 pt-3">
                    {% for image in bien.images %}
                        {% if image is defined %}
                            {% if image.url is empty %}
                            {% else %}
                                <div class="team-main-6">
                                    <div class="column-6">
                                        <a href="#"><img style="float: left;width:  300px;height: 300px;object-fit: cover;" class="img-responsive" src="{{ asset("assets/images/"  ~ image.url) }}" alt=" "></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- /team-grids -->
    </section>
    <section class="grids-4" id="properties">
        <div id="grids4-block" class="py-5">
            <p style="text-align: center;font-size: 390%;margin: auto;">Produits similaires</p>
            <div class="container py-md-3">
                <div class="row mt-5 pt-3">
                    {% for bien in biens %}
                        {% set image = bien.images | first %}
                        <div class="grids2-info  col-lg-2 col-md-8">
                            {% if image.url is defined %}
                                <a href="{{ path('app_biens_show', {'id': bien.id}) }}"><img src="{{ asset("assets/images/" ~ image.url) }}" style="height: 120px;width: 350px" width="350" height="100" class="img-fluid" alt=""></a>
                            {% else %}
                                <a href="{{ path('app_biens_show', {'id': bien.id}) }}"><img src="{{ asset("assets/images/g7.jpg") }}" style="height: 120px;width: 350px" class="img-fluid" alt=""></a>
                            {% endif %}
                            <ul class="location-top">
                                {% if bien.type ==1 %}
                                    <li class="rent">A Louer</li>
                                {% else %}
                                    <li class="rent">A Vendre</li>
                                {% endif %}
                                {% if bien.neuf ==1 %}
                                    <li class="open-1">Neuf</li>
                                {% endif %}

                                <li class="sale">Réf : {{ bien.ref }}</li>
                            </ul>
                            <div class="info-bg" style="padding: 15px 10px;">
                                <h5><a href="{{ path('app_biens_show', {'id': bien.id}) }}">{{ bien.nom }}</a></h5>
                                {% if bien.prix|default %}
                                    <p>{{ bien.prix}}  DT</p>
                                {% endif %}
                                <p class="rent">{{ bien.ville.nom }}</p>
                                <ul>
                                    <li><span class="fa fa-bed"></span> {{ bien.pieces }} chambres</li>
                                    <li><span class="fa fa-share-square-o"></span> {{ bien.surface }} mètres</li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
